<input type='text' name="image" value="<%= item.image_url %>" hidden>
<input type='text' name="title" value="<%= item.title %>">
<input type='text' name="author" value="<%= item.author %>">
<input type='text' name="description" value="<%= item.description %>">
<input type='text' name="isbn" name="isbn" value="<%= item.isbn %>">

<button>Update Book</button>